[project]
	description = GraphicalRepresentationOfAnyTree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Radovan Zivkovic (pivonroll)
[access "refs/for/refs/*"]
	read = group user/Radovan Zivkovic (pivonroll)
	push = group user/Radovan Zivkovic (pivonroll)
	label-Code-Review = -2..+2 group user/Radovan Zivkovic (pivonroll)
	label-Verified = -1..+1 group user/Radovan Zivkovic (pivonroll)
	rebase = group user/Radovan Zivkovic (pivonroll)
	removeReviewer = group user/Radovan Zivkovic (pivonroll)
	submit = group user/Radovan Zivkovic (pivonroll)
[access "refs/heads/*"]
	read = group user/Radovan Zivkovic (pivonroll)
	create = group user/Radovan Zivkovic (pivonroll)
	push = +force group user/Radovan Zivkovic (pivonroll)
	pushMerge = group user/Radovan Zivkovic (pivonroll)
[access "refs/tags/*"]
	push = +force group user/Radovan Zivkovic (pivonroll)
	pushTag = group user/Radovan Zivkovic (pivonroll)
	pushSignedTag = group user/Radovan Zivkovic (pivonroll)
[receive]
	requireChangeId = true
